body {
    background-color:#fff;
	margin:0px;
	width:100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

a{
    text-decoration: none;
}

.logo{
    margin-left: 5%;
}

header{
    margin-top: -17px; 
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-color: #234f8e;
}

.logo-image{
    width: 5%;
    margin-bottom: -20px;
}

.logo-text{
    font-family: candara;
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    font-style: italic;
    margin-left: 5px;
}

.side-button{
    margin-top: -60px;
    float: right;
    margin-right: 2%;
}

.side-button li{
	display:inline;
}

.side-button li a{
	outline:none;
}

.side-button li a:hover{
	text-decoration:none;
}

.sign-in, .profile-button{
    border-radius: 15px;
    padding: 5px 20px;
    border: 2px solid #fff;
    background-color: #234f8e;
    color: #fff;
    margin-left: 10px;
    font-size: 15px;
    font-weight: bold;
    font-family: candara;
    font-style: italic;
    outline: none;
}

.profile-button{
    border-radius: 15px;
    padding: 6px 22px;
    background-color: #234f8e;
    color: #fff;
    margin-left: 10px;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid #234f8e;
    font-family: candara;
    font-style: italic;
    outline: none;
}

.sign-in:hover{
    background-color: #fff;
    color: #234f8e;
}

.profile-button:hover{
    border: 2px solid #234f8e;
    background-color: #fff;
    color: #234f8e;
}

.search-box{
    width: 76%;
    margin-left: 10%;
    margin-top: 20px;
    padding: 2%;
    background-color: #234f8e;
    margin-bottom: 20px;
}

.search-field{
    border-radius: 2px;
    display: block;
    font-family: candara;
    color: #000;
    width: 79%;
    height: 36px;
    padding: 6px;
    font-size: 18px;
    padding-left: 10px;
    background-color: #f5f5f5;
    border-bottom-left-radius: 15px;;
    border-top-left-radius: 15px;
    outline: none;
    border: 0;
}

.search-button{
    height: 48px;
    width: 20%;
    background-color: #234f8e;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    font-family: candara;
    font-style: italic;
    border: 2px solid #f5f5f5;
    float: right;
    margin-top: -48px;
    border-bottom-right-radius: 15px;;
    border-top-right-radius: 15px;
}

.page-header{
    font-family:  candara;
    font-size: 30px;
    text-align: center;
    color: #234f8e;
    margin-top: 50px;
}

.signup-form{
    width: 40%;
    margin-left: 30%;
    margin-top: 40px;
    padding: 35px;
    background-color: #234f8e;
}

.add-entry{
    width: 80%;
    margin-left: 10%;
}

.form-group{
    margin-bottom: 30px;
}

.input-label{
	color: #fff;
    font-family:candara;
    font-weight: bold;
    font-style: oblique;
    font-size:20px;
    padding-left: 20px;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 10px;
}

.form-field{
    border-radius: 13px;
    border: 1px solid #fff;
    display: block;
    font-family: candara;
    width: 95%;
    height: 34px;
    padding: 6px;
    padding-left: 15px;
    font-size: 16px;
    color: #000;
    font-style: italic;
    font-weight: bold;
    background-color: #fff;
    outline: none;
}

.form-field-2{
    font-size: 24px;
    height: 52px;
}

.form-field-textarea{
    padding-top: 15px;
    min-height: 500px;
    line-height: 35px;
    font-weight: normal;
    font-size: 20px;
    outline: none;
}

.form-button {
    width: 100%;
    border: 2px solid #fff;
    background-color: #234f8e;
    color: #fff;
    font-family: candara;
    font-size: 16px;
    font-weight: bold;
    width: 97%;
    height: 40px;
    border-radius: 20px;
    margin-top: 35px;
    outline: none;
}

.button2{
    width: 42%;
    margin-left: 5%;
}

.form-button:hover {
    background-color: #fff;
    color: #234f8e;
}

.body .entry-container{
    width: 80%;
    height: auto;
    margin-left: 10%;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #234f8e;
    margin-bottom: 30px;
}

.body .entry-body{
    width: 90%;
    height: auto;
    padding: 20px 20px;
    border-radius: 20px;
    margin-left: 3%;
    background-color: #f9f9f9;
}

.entry-h1{
    font-family: candara;
    font-size: 35px;
    text-align: center;
    line-height: 45px;
    font-weight: bold;
}

.entryP{
    width: 94;
    margin-left: 3%;
    font-family: candara;
    font-size: 21px;
    line-height: 35px;
}

.entry-hr{
    height: 4px;
    width: 94%;
    margin-left: 3%;
    background-color: #000;
    border: 0;
}

.entries{
    margin-top: 60px;
    margin-bottom: 450px;
}

.underline:hover{
    text-decoration: underline;
}

.image-div{
    width: 48%;
}

.image-div a:hover{
    opacity: 0.8;
}

.entry-image{
    max-width: 100%;
    
}

.entry-div{
    float: right;
    width: 48%;
    padding: 2%;
    background-color: #fff;
    margin-top: -161px;
    margin-right: 1px;
}

.entry-heading{
    font-family: corbel;
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
    color: #17a2b8;
}

.entry-heading:hover{
    text-decoration: underline;
}

.entry-heading a{
    color: #17a2b8;
}

.date{
    text-align: right;
    font-family: candara;
    font-size: 10px;
    color: #000;
    margin-top: -5px;
}

.entry-line{
    height: 2px;
    background-color: #17a2b8;
    border: 0px;
}

.entry-text{
    font-size: 12px;
    font-family: candara;
    line-height: 16px;
    color: #000;
}

.entry-text:hover{
    text-decoration: underline;
}

.entry-text a{
    font-family: candara;
    color: #000;
}

.actions{
    margin-top: -9px;
}

.action-link{
    border: 0;
    color: #fff;
    font-family: candara;
    font-size: 11px;
    float: right;
    padding: 3px 8px;
    
}


.action-link:hover, .action-link2:hover, .action-link3:hover{
    opacity: 0.7;
}

.pagination{
    margin-left: 25%;
}

.pagination-link{
    border: 0;
    color: #fff;
    font-family: candara;
    font-size: 15px;
    padding: 7px 12px;
    margin-left: -3px;
    border: 1px solid #234f8e;
    background-color: #234f8e;
    font-weight: bold;
}

.pagination-link:hover{
    opacity: 0.7;
}


.single-entry-image img{
    width: 50%;
    margin-left: 25%;
}

.entry-content{
    width: 80%;
    margin-left: 10%;
}

.entry-content h1{
    font-family:  candara;
    font-size: 30px;
    text-align: center;
    color:  #17a2b8;
    margin-top: 40px;
}

.single-line{
    height: 4px;
    background-color: #17a2b8;
    border: 0;
}


.profile-image img{
    width: 20%;
    margin-left: 20%;   
}

.user-info{
    width: 40%;
    margin-left: 45%;
    margin-top: -280px;
    margin-bottom: 50px;
}

.user-info p{
    font-family:  candara;
    font-size: 22px;
    font-weight: bold;
    color:  #234f8e;   
}

.user2{
    font-family:  candara;
    font-size: 18px;
    font-weight: normal;
    color:  #000;     
}

.action-link3{
    border: 0;
    color: #fff;
    font-family: candara;
    font-size: 14px;
    padding: 8px 18px;
    
}

.successField{
    color: #07fc01;
    font-size: 20px;
    padding: 5px 5px;
    width: 95%;
    margin-top: 10px;
    text-align: center;
    font-family: candara;
    font-weight: bold;
    font-style: italic;
    
    
}

.errorField{
    color: red;
    font-size: 20px;
    padding: 5px 5px;
    width: 95%;
    margin-top: 10px;
    font-family: candara;
    font-weight: bold;
    font-style: italic;
}

.errorField2{
    color: red;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: -30px;
    font-family: candara;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

footer{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-color: #234f8e;
}

.copyright{
    color: #fff;
    font-family: candara;
    font-size: 13px;
    margin-left: 10%;
}


.signin, .signup, .add-entry{
    margin-bottom: 100px;
}

#single-entry{
    margin-bottom: 80px;
}

 .profile-div{
    margin-bottom: 190px;
}

.landing{
    padding-top: 50px;
    padding-bottom: 100px;
}

.image-ad{
    width: 50%;
}

.image-ad img{
    width: 550px;
    height: auto;
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: -35px;
}


.add{
    width: 50%;
    margin-top: -300px;
    margin-left: 45%;
}

.add img{
    width: 70%;
    margin-left: 7%;
    margin-top: -180px;
}


.add-h1{
    color: #000;
    font-size: 40px;
    font-weight: bold;
    font-family: candara;
    margin-left: 2%;
}

.x-h1{
    color: #234f8e;
    font-size: 45px;
    font-style: italic;
    text-decoration: underline;
}

.direct{
    border-radius: 25px;
    padding: 15px 60px;
    border: 2px solid #234f8e;
    background-color: #234f8e;
    color: #fff;
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: candara;
    font-style: italic;
    outline: none;
}

.direct:hover{
    border: 2px solid #234f8e;
    background-color: #fff;
    color: #234f8e;
    outline: none;
    text-decoration: underline;
}

.active{
    color: #234f8e;
    border: 1px solid #234f8e;
    background-color: #fff;
}

.ast{
    color: red;
}

.required{
    color: #fff;
    font-family: candara;
    font-size: 12px;
    margin-left: 5%;
    margin-top: 20px;
}








@media screen and (max-width:800px){

    .body .landing{
        padding-top: 20px;
        padding-bottom: 0px;
        margin-bottom: 710px;
    }

    .body .add{
        width: 90%;
        margin-top: -900px;
        margin-left: 5%;
    }

    .body .image-ad{
        width: 90%;
        margin-left: 5%;
    }
    
    .body .image-ad img{
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-top: 520px;
        margin-bottom: -20px;
    }


    .body #single-entry{
        margin-bottom: 700px;
    }

    .body .signin{
        margin-bottom: 670px;
    }

    .body .signup{
        margin-bottom: 370px;
    }

    .body .add-entry{
        margin-bottom: 170px;
    }

    .body .entries{
        margin-bottom: 1100px;
    }

    .body .entry-body{
        max-width: 84%;
        margin-left: 5%;
    }

    .body .add-entry{
        margin-left: 5.3%;
    }

    .side-button{
        padding-top: 5px;
    }

    header .logo-text{
        font-size: 27px;
        padding-top: 5px;
    }

    header .logo-image{
        width: 8%;
    }

   .signup-form{
    min-width: 60%;
    margin-top: 40px;
}


   .body form{
       margin-left: 17%;
   }

   .search-field{
       margin-left: -95px;
       width: 97%;
}   

.body .profile-div{
    margin-bottom: 850px; 
}

.profile-div .user-info{
    margin-top: -205px;
    width: 70%;
}

   
}

 @media screen and (max-width:600px){

    .body .landing{
        padding-top: 0px;
        margin-bottom: 510px;
    }

    .body .add{
        width: 90%;
        margin-top: -550px;
        margin-left: 5%;
    }

    .body .image-ad img{
        margin-top: 450px;
        margin-bottom: -165px;
    }

    .body .add-h1{
        color: #000;
        font-size: 33px;
    }
    

    .body #single-entry{
        margin-bottom: 450px;
    }

    .body .signin{
        margin-bottom: 420px;
    }

    .body .signup{
        margin-bottom: 150px;
    }

    .body .entries{
        margin-bottom: 850px;
    }

    .body .entry-body{
        max-width: 81.5%;
        margin-left: 5%;
    }

    .body .add-entry{
        margin-bottom: 170px;
        margin-left: 4%;
    }

    header .logo{
        margin-left: 2%;
    }

    header .logo-text{
        font-size: 22px;
        margin-left: 5px;
    }

    header .logo-image{
        width: 7%;
        margin-top: 7px;
        margin-bottom: -13px;
    }

    header .side-button{
        padding-top: 10px;
    }

    header .sign-in{
        border-radius: 15px;
        padding: 5px 20px;
        border: 2px solid #fff;
        margin-left: 5px;
        font-size: 13px;
    }

    .signup-form{
        min-width: 70%;
        margin-top: 40px;
    }
    
    .body form{
        margin-left: 10%;
    }

    .search-field{
        margin-left: -11%;
        width: 87%;
 } 


.profile-image img{
    width: 30%;
    margin-left: 10%;   
}

.body .profile-div{
    margin-left: -5%;
    margin-bottom: 570px;
}

.profile-div .user-info{
    margin-top: -225px;
    width: 60%;
}
    
}


@media screen and (min-width:320px) and (max-width:500px){

   .body .landing{
       padding-top: 130px;
     margin-bottom: 322px;
    }

    .body .image-ad img{
        margin-top: 400px;
        margin-bottom: -165px;
    }

    .body .direct{
        margin-bottom: 30px;
    }
    

    .body #single-entry{
        margin-bottom: 150px;
    }

    .body .signin, .body .signup{
        margin-bottom: 100px;
    }

    .body .entries{
        margin-bottom: 450px;
    }

    .body .entry-container{
        width: 92%;
        margin-left: 4%;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .body .button2{
        width: 92%;
        margin-left: 4%;
        margin-bottom: -5px;
        margin-top: 20px;
    }

    .body .entry-body{
        max-width: 76%;
        margin-left: 5%;
    }
    
    .entry-h1{
        font-size: 18px;
        line-height: 25px;
    }
    
    .entryP{
        width: 98;
        margin-left: 1%;
        font-size: 15px;
        line-height: 19px;
    }
    
    .entry-hr{
        height: 2px;
        width: 98%;
        margin-left: 1%;
    }



    .body .input-label{
        font-size:17px;
        padding-left: 0;
    }
    
     .body .search-box{
         width: 84%;
         margin-left: 6%;
     }

    .body .form-field{
        border-radius: 15px;
        width: 100%;
        height: 25px;
        padding: 6px;
        padding-left: 5px;
        font-size: 12px;
        margin-left: -7%;
    }

    .body .form-group{
        margin-bottom: 20px;
    }

.body .add-entry{
    margin-left: 4%;
    width: 73%;
}

header .logo-image{
    width: 12%;
    margin-bottom: -12px;
}

header .logo-text{
    font-size: 25px;
    margin-left: 5px;
}

header{
    padding-bottom: 30px;
}  

header .side-button{
    margin-top: -15px;
    margin-right: -12px;
    width: 100%;
}

header .sign-in{
    border-radius: 15px;
    padding: 2px 10px;
    margin-left: 2px;
    font-size: 11px;
}

.page-header{
    font-size: 20px;
    margin-top: 20px;
}

.search-box{
    width: 85%;
    margin-left: 3%;
}

.search-field{
    width: 78%;
    margin-left: -4%;
}

.search-button{
    width: 28%;
}

.body form{
    margin-left: 4%;
}

.image-div{
    width: 0;
}

.pagination-link{
    font-size: 13px;
    padding: 7px 12px;
    margin-left: -3px;
}

.pagination{
    width: 70%;
}

.single-entry-image img{
    width: 80%;
    margin-left: 10%;
}

.entry-content h1{
    font-size: 20px;
    margin-top: 20px;
}

.date-p{
    font-size: 14px;
}

.single-line{
    height: 2px;
    background-color: #17a2b8;
    border: 0;
}

.entry-p{
    font-family: corbel;
    font-size: 14px;
    line-height: 25px;
}

.profile-image img{
    width: 35%;
    margin-left: 30%;   
}

.body .profile-div{
    margin-left: -5%;
    margin-bottom: 80px;
}

.profile-div .user-info{
    margin-top: 30px;
    width: 100%;
    margin-left: 10%;
}

.profile-button{
    margin-left: 0%;
}

.user-info p{
    font-size: 18px;   
}

footer{
    padding-bottom: 10px;
    line-height: 15px;
}

.copyright{
    font-size: 11px;
    margin-left: 15px;
    margin-right: 2px;
}

   
}







@media screen and (max-width:1024px){

    .landing{
        padding-bottom: 0px;
        padding-top: 0px;
        margin-bottom: 200px;
    }
    
    .image-ad img{
        width: 500px;
        margin-left: 3%;
        margin-top: 220px;
        margin-bottom: -73px;
    }
    
    
    .add{
        width: 60%;
        margin-top: -337px;
        margin-left: 40%;
    }
    
    .add img{
        width: 60%;
        margin-left: 7%;
        margin-top: -180px;
    }

    .add-h1{
        font-size: 35px;
    }

    .direct{
        padding: 10px 30px;
    }
    
    #single-entry{
        margin-bottom: 180px;
    }

    .signin, .signup, .add-entry{
        margin-bottom: 160px;
    }
    
     .profile-div{
        margin-bottom: 310px;
    }

    .entries{
        margin-bottom: 570px;
    }

    .body .entry-body{
        width: 89%;
    }

    .side-button{
        margin-top: -58px;
    }

    .logo-image{
        width: 6%;
    }

    .signup-form{
        width: 56%;
        margin-left: 22%;
    }

    .add-entry{
        width: 80%;
        margin-left: 7%;
    }

    .entry-div{
        width: 50%;
        padding: 1%;
        margin-top: -151px;
    }

    .right-entry{
        margin-top: -192px;
    }

    .entry-text{
        padding: 0px 3px;
    }

    .profile-image img{
        margin-top: 20px;   
    }

    .user-info{
        margin-top: -240px;
    }

}


  @media screen and (min-width:1280px) and (max-width:1300px) {

    .landing{
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 180px
    }

    .add{
        width: 70%;
        margin-top: -250px;
        margin-bottom: 100px;
    }

    .add img{
        width: 55%;
    }

    .image-ad img{
        width: 400px;
        margin-left: 3%;
        margin-top: 200px;
        margin-bottom: -165px;
    }

    #single-entry{
        margin-bottom: 210px;
    }

    .signin, .signup, .add-entry{
        margin-bottom: 190px;
    }

    .profile-div{
        margin-bottom: 350px;
    }

    .add-entry{
        margin-left: 7%;
    }

    .entry-div{
        margin-top: -161px;
    }

    
} 


 @media screen and (min-width:1440px){

    .landing{
        padding-top: 260px;
        margin-bottom: 120px;
    }

    .image-ad img{
        width: 580px;
        margin-bottom: -149px;
    }

    #single-entry{
        margin-bottom: 300px;
    }

    .body .signin, .signup, .add-entry{
        margin-bottom: 290px;
    }

    .profile-div{
        margin-bottom: 420px;
    }

    .entries{
        margin-bottom: 700px;
    }

    .signup-form{
        margin-bottom: 130px;
    }

    .add-entry{
        margin-left: 7%;
    }

    .image-div{
        width: 46.8%;
    }

    .entry-div{
        margin-right: 5px;
        margin-top: -161px;
    }



    
} 
